@model TeamProject.Models.MessageModel
@{
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
    ViewBag.Title = "Contact";
}

<div class="text-calibri title">&emsp;Contact</div>
<br />
<br />

<div class="text-calibri text-style text-bold largetext">&emsp;&emsp;U-High Team</div>
<p class="text-calibri text-style paragraph">
    &emsp;&emsp;&emsp;&emsp;Computer Science Dept. Seattle University<br />
    &emsp;&emsp;&emsp;&emsp;Graduate Student: Wonseok Seo, Yiji Wang, Victor Chimenti, Mengshan Chen, Qiaofang Deng<br />
</p>

<br />
<div class="text-calibri text-style text-bold largetext">&emsp;&emsp;Seattle University</div>
<p class="text-calibri text-style paragraph">
    &emsp;&emsp;&emsp;&emsp;901 12th Avenue, P.O. Box 222000<br />
    &emsp;&emsp;&emsp;&emsp;Seattle, WA 98122-1090<br />
    &emsp;&emsp;&emsp;&emsp;Phone: +1.206.296.6000<br />
    &emsp;&emsp;&emsp;&emsp;Toll-free: +1.800.426.7123<br />
</p>

<br />
<div class="text-calibri text-style text-bold largetext">&emsp;&emsp;Middle College High School</div>
<div class="text-calibri text-style text-bold middletext">&emsp;&emsp;&emsp;Steve Miranda</div>
<p class="text-calibri text-style paragraph paragraph-style">
    MCHS Humanities teacher, studied journalism at James Madison University and earned a Master’s
    degree in Teaching at Antioch University in Seattle. He has worked as a teacher and administrator in Seattle
    since 1999.
</p>
<div class="text-calibri text-style text-bold middletext">&emsp;&emsp;&emsp;Lura Ercolano</div>
<p class="text-calibri text-style paragraph paragraph-style">
    MCHS Math/Science Teacher, knows that the traditional high school structure isn't for everyone. Lura
    earned her GED as a single mother before excelling at Mathematics and Physics at the University of Denver and
    University of Washington. Lura worked in geophysical research and energy exploration for several years before
    setting aside her career to adopt and raise children who needed a family. In 2015, Lura earned her Masters
    in Teaching Math and Science from Seattle Pacific University.
</p>


<div class="container">
    <div class="row">
        @{
            if (Model == null)
            {
                <p>No Message</p>
            }
            else
            {
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-sm-2 text-right text-calibri middletext">
                                @Html.DisplayNameFor(m => m.Message)
                            </div>
                            <div class="col-sm-2 text-calibri middletext">
                                @Html.EditorFor(m => m.Message)
                                @Html.ValidationMessageFor(m => m.Message)
                            </div>
                            <div class="col-sm-3" align="right">
                                <input type="submit" value="Submit" class="btn btn-warning">
                                @Html.ActionLink("View Q&A", "QA", null, new { @class = "btn btn-success" })
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
